* {
  margin: 0;
  padding: 0;
}

:root {
  --clr: rgb(6, 174, 203);
}

h1 {
  text-align: center;
  color: rgb(6, 174, 203);
  text-shadow: 0 0px 20px #06800c;
  font-family: 'Viner Hand ITC';
}

body  {
  background: rebeccapurple;
}

body::-webkit-scrollbar{
  width: 0px;
}

@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: #fffafa;
  color: #048ab3;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
}

.tooltip-container:hover .tooltip {
  display: block;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 768px){
  h1 {
  
    text-align: center;
    color: rgb(6, 174, 203);
    text-shadow: 0 0px 20px #06800c;
    font-family: 'Viner Hand ITC';
    font-size: xx-large;
  }
  
}